<div class=" container">
    <form class="add-product" #productForm=ngForm>
        <div class="add-product__images slider">
            <div class="add-product__image-actions">
                <div class="add-product__image-action">
                    <a href="#"><i class="fas fa-plus-square"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="slider__items">
                <div class="slider__item active" style="background-image: url(https://picsum.photos/200/300)"></div>
                <div class="slider__item" style="background-image: url(https://picsum.photos/200/301)"></div>
                <div class="slider__item" style="background-image: url(https://picsum.photos/200/302)"></div>
            </div>
            <div class="slider__indicators">
                <span class="slider__indicator active"></span>
                <span class="slider__indicator"></span>
                <span class="slider__indicator"></span>
            </div>
        </div>
        <div class="add-product__data">
            <div class="form-controls">
                <section class="tabs">
                    <div class="tabs__headers">
                        <div (click)="changeToEngMode()" class="tabs__header" [ngClass]="{'active' : englishMode}">
                            English
                        </div>
                        <div (click)="changeToArMode()" class="tabs__header" [ngClass]="{'active' : arabicMode}">
                            Arabic
                        </div>
                    </div>
                    <div class="tabs__bodies">
                        <div class="tabs__body active">
                            <div class="form-group " [ngClass]="{'invalid' : nameInputElement.touched && nameInputElement.invalid}">
                                <label for="">Name</label>
                                <input #nameInputElement=ngModel required class="form-control" type="text" ngModel name="name" id="" [ngModel]="editMode ? product.data[0].name :'' "> <!-- pattern="^[\u0621-\u064A\u0660-\u0669 ]+$"-->
                            </div>
                            <span *ngIf="nameInputElement.touched && nameInputElement.invalid && nameInputElement.control.errors!['required']"> This field is required</span>
                            <!-- <span *ngIf="nameInputElement.touched && nameInputElement.invalid && nameInputElement.control.errors!['pattern'] && arabicMode"> The data must be in Arabic</span> -->
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea required class="form-control" ngModel name="description" id="" cols="30"
                                    rows="4" [ngModel]="editMode ? product.data[0].description :'' "></textarea>
                            </div>
                        </div>
                        <div class="tabs__body ">
                            <div class="form-group invalid">
                                <label for="">Name</label>
                                <input class="form-control" type="text" name="name" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="form-group">
                    <label for="">Price</label>
                    <input class="form-control" type="number" ngModel name="price" id="" [ngModel]="editMode ? product.price :'' ">
                </div>
                <div class="add-product__discount">
                    <div class="form-group">
                        <label for="">Status</label>
                        <div class="form-group__radios">
                            <div class="form-group__radio"><input type="radio" name="" id=""><span>On Sale</span></div>
                            <div class="form-group__radio"><input type="radio" name="" id=""><span>Not On Sale</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Discount</label>
                        <input class="form-control" type="number" ngModel name="discount" id="" [ngModel]="editMode ? product.discount :'' ">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Payment Types</label>
                    <div class="form-group__checkboxs">
                        <div *ngFor="let paymentType of paymentTypes; let i = index" class="form-group__checkbox"><input
                                type="checkbox" ngModel
                                [name]="'checkbox_'+paymentType.id" id="paymentType.id">
                            <span>{{paymentType.name}}</span>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select ngModel class="form-control" name="category" id="" [ngModel]="editMode ? product.category.id : '' "> <!-- [(ngModel)]="product.category.id" -->
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                </div>

                <div class="taged-textbox form-group">
                    <label class="taged-textbox__lable" for="">Tags</label>
                    <div class="taged-textbox__data" >
                        <div class="taged-textbox__tags" >
                            <div *ngFor="let tag of tags" class="taged-textbox__tag"><span>{{tag.name}}</span>
                                <a href="#" class="taged-textbox__remove" (click)="deleteTag(tag)"><i class="fas fa-times"></i></a>
                            </div>

                        </div>
                        <div class="taged-textbox__clear">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <input class="taged-textbox__textbox form-control" type="text" name="" id="" #tagInput
                        (keyup.enter)="tags.push({name: tagInput.value})">
                </div>
                <div class="add-product__actions">
                    <button href="#" class="btn btn--gray">Cancel</button>
                    <button [disabled]="!productForm.valid" (click)="onAddProduct(productForm)" class="btn btn--primary">{{editMode ? 'Edit' : 'Add'}}</button>
                </div>
            </div>
        </div>
    </form>
</div>

